<body class="m-2 row justify-content-center bg-dark">
  <div class="col-auto bg-dark p-5 text-center text-white">
    <h1>New Article</h1>

    <%= render "form", article: @article %>

  </div>
</body>